<cur-add-list-btn (clickAdd)="handleAdd()">Добавить образование</cur-add-list-btn>
<div class="mt-3">
  <cur-expander [multi]="true" (dropEnd)="drop($event)">
    @for (educationItem of list?.controls; track $index) {
      <cur-expander-item (actionClick)="handleAction($event)" [dragConfig]="dragConfig">
        <ng-template curExpanderTitle>
          @if (educationItem.controls.location.value) {
            <p>{{ educationItem.controls.location.value }}&nbsp;</p>
          }
          <p>{{ educationItem.controls.institution.value }}</p>
        </ng-template>
        <ng-template curExpanderTitleDescription>
          <div class="ml-5 range">
            <mat-icon>date_range</mat-icon>
            <span class="ml-1">
              {{ educationItem.controls.startYear.value | dateFormat: 'MM/yyyy' }}
              <span>&mdash;</span>
              {{ educationItem.controls.endYear.value | dateFormat: 'MM/yyyy' }}
            </span>
          </div>
        </ng-template>
        <ng-template curExpanderContent>
          <div>
            <p class="subtitle">Степень/специальность</p>
            <pre>{{ educationItem.controls.degree.value }}</pre>
          </div>
          @if (educationItem.controls?.description?.value) {
            <div class="mt-3">
              <p class="subtitle">Описание</p>
              <quill-view-html
                [content]="educationItem.controls?.description?.value"
                theme="snow"></quill-view-html>
            </div>
          }
        </ng-template>
      </cur-expander-item>
    }
  </cur-expander>
</div>
