@use 'styles/variables/varialbes' as varialbes;

:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: varialbes.$unitSize * 2 varialbes.$unitSize * 4;
}

:host:empty {
  padding-bottom: 0;
}

:host ::ng-deep button {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
