<ng-container *ngFor="let item of links">
  <ng-container *ngIf="{ isOpen: isOpen$ | async } as flag">
    <cur-sidenav-link [routerLink]="item.routerLink" [isOpen]="flag.isOpen">
      <ng-container
        icon
        [ngTemplateOutlet]="!!item?.isBack ? backIcon : navigateIcon"
        [ngTemplateOutletContext]="{ $implicit: { iconConfig: item, isOpen: flag.isOpen } }">
      </ng-container>
      <ng-container
        [ngTemplateOutlet]="text"
        [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
    </cur-sidenav-link>
  </ng-container>
</ng-container>

<ng-template #backIcon>
  <mat-icon color="primary" [svgIcon]="EIconName.ARROW_BACK" curIconSize="XLarge"></mat-icon>
</ng-template>

<ng-template #navigateIcon let-item>
  <mat-icon
    color="primary"
    [svgIcon]="item.iconConfig.icon"
    curIconSize="Medium"
    [matTooltip]="item.iconConfig?.text || ''"
    [matTooltipPosition]="'right'"
    [matTooltipDisabled]="item.isOpen"></mat-icon>
</ng-template>

<ng-template #text let-item>
  <h3
    #textElement
    class="icon-text"
    [matTooltip]="item?.text || ''"
    [matTooltipPosition]="'right'"
    [matTooltipDisabled]="textElement.scrollWidth <= textElement.clientWidth"
    [class.icon-text--bold]="item?.isBack">
    {{ item?.text || (item?.isBack ? 'Назад' : '') }}
  </h3>
</ng-template>
