<ng-container *ngFor="let item of links">
  <cur-sidenav-link [routerLink]="item.routerLink" [isOpen]="sidebarService.isOpen | async">
    <ng-container
      icon
      [ngTemplateOutlet]="!!item?.isBack ? backIcon : navigateIcon"
      [ngTemplateOutletContext]="{ $implicit: item }">
    </ng-container>
    <ng-container
      [ngTemplateOutlet]="text"
      [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
  </cur-sidenav-link>
</ng-container>

<ng-template #backIcon>
  <mat-icon class="back" color="primary">keyboard_backspace</mat-icon>
</ng-template>

<ng-template #navigateIcon let-item>
  <mat-icon color="primary">{{ item?.icon ?? 'maximize' }}</mat-icon>
</ng-template>

<ng-template #text let-item>
  <h3 *ngIf="!item?.isBack; else backText">{{ item?.text }}</h3>
  <ng-template #backText>
    <h2>{{ item?.text || 'Назад' }}</h2>
  </ng-template>
</ng-template>
