<mat-card appearance="outlined" class="photo-wrapper">
  <mat-card-content>
    @if (status === EUploadPhotoStatus.INIT || status === EUploadPhotoStatus.ERROR) {
      <label class="init-wrapper" for="upload-photo-input">
        <mat-icon
          class="icon"
          [color]="'primary'"
          [svgIcon]="EIconName.PHOTO_CAMERA"
          [curIconSize]="'XXXLarge'"></mat-icon>
        <p>
          {{
            status === EUploadPhotoStatus?.INIT
              ? 'Загрузите фото'
              : 'Произошла ошибка, попробуйте снова.'
          }}
        </p>
      </label>
      <input
        id="upload-photo-input"
        type="file"
        class="file-input"
        [accept]="'image/jpeg,image/png;'"
        (change)="onChange($event.target['files'])" />
    } @else if (status === EUploadPhotoStatus.UPLOADED) {
      <div class="photo" [style.background-image]="fileUrl">
        <div class="photo-overlay-info">
          <span class="file-name">{{ file?.name }}</span>
          <button mat-flat-button color="warn" (click)="handleClear()">Удалить</button>
        </div>
      </div>
    } @else {
      <div class="uploading-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    }
  </mat-card-content>
</mat-card>
