@use 'styles/variables/varialbes' as varialbes;

.sidenav-container {
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  width: 280px;
  z-index: 2;
  transition: varialbes.$sidebar-transition;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-close {
    width: varialbes.$sidebar-min-width;
  }

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{varialbes.$sidebar-footer-height});
    overflow-y: auto;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: varialbes.$sidebar-footer-height;
    width: 100%;
    display: grid;
    place-items: center;

    .icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: varialbes.$sidebar-transition;;
        &-fliped {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.sidenav-content {
  box-sizing: border-box;
  display: block;
  height: calc(100% - #{varialbes.$sidebar-min-width});
  max-height: 100%;
  padding: 20px 32px;
}
