@use 'styles/variables/varialbes' as varialbes;

.sidenav-container {
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  z-index: 2;
  transition: varialbes.$sidebar-transition;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - #{varialbes.$sidebar-footer-height});
    overflow-y: auto;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: varialbes.$sidebar-footer-height;
    width: 100%;
    display: grid;
    place-items: center;

    .icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .mat-icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: varialbes.$sidebar-transition;;
        &-fliped {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.resize-handle {
  height: 100%;

  background-color: transparent;
  width: 2px;

  position: absolute;
  top: 0;
  right: 0;

  cursor: ew-resize;

  // prevent text selection while dragging
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  transition: background-color 0.2s ease-out;

  &:hover {
    width: 3px;
    //background-color: rgb(93, 159, 235);
    background-color: varialbes.$sidebar-resize-color;
  }

  // buffer to make it easier to grab the resize handle
  &::after {
    content: "";
    display: block;

    height: 100%;

    width: 24px;

    position: absolute;
    right: -12px;
    z-index: 1;
  }

  // buffer to avoid flickering cursor when resizing
  &.resizing::after {
    width: 100px;
    right: calc(-100px / 2);
  }
}

.sidenav-content {
  box-sizing: border-box;
  display: block;
  height: calc(100% - #{varialbes.$sidebar-min-width});
  max-height: 100%;
  padding: 20px 32px;
  transition: varialbes.$sidebar-transition;
}
