<mat-accordion
  [multi]="multi"
  cdkDropList
  cdkDropListOrientation="vertical"
  (cdkDropListDropped)="drop($event)">
  @for (item of expanderItems; let outerIdx = $index; track outerIdx) {
    <mat-expansion-panel
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragDisabled]="!item.dragConfig?.isDraggable || expanderItems.length === 1"
      [disabled]="item.isDisabled"
      [class.expander-panel--separated]="isSeparated">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngTemplateOutlet="item.title; context: { $implicit: item }"></ng-container
        ></mat-panel-title>
        <mat-panel-description class="header-description">
          <div class="header-description-content">
            <ng-container
              *ngTemplateOutlet="
                item.titleDescription;
                context: { $implicit: item }
              "></ng-container>
          </div>
          @if (item.actions.length || item.dragConfig?.isDraggable) {
            <div class="action-buttons">
              @if (item.dragConfig?.isDraggable && expanderItems.length > 1) {
                <button mat-icon-button cdkDragHandle>
                  <mat-icon
                    [color]="item.dragConfig.color"
                    [svgIcon]="item.dragConfig.icon.name"
                    [curIconSize]="item.dragConfig.icon?.size"></mat-icon>
                </button>
              }
              @for (btn of item.actions; track btn.btnName) {
                <button
                  mat-icon-button
                  [disabled]="btn?.disabled"
                  [color]="btn.color"
                  (click)="handleActionClick($event, outerIdx, btn)">
                  <mat-icon [svgIcon]="btn.icon.name" [curIconSize]="btn.icon?.size"></mat-icon>
                </button>
              }
            </div>
          }
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="item.content; context: { $implicit: item }"></ng-container>
    </mat-expansion-panel>
  }
</mat-accordion>
