<h1>Создание нового резюме</h1>
<form [formGroup]="cvWizardData">
  <mat-stepper linear="true">
    <mat-step [stepControl]="cvWizardData.controls.personalData">
      <ng-template matStepLabel>Персональные данные</ng-template>
      <cur-personal-data-form
        class="form-wrapper"
        [controlKey]="'personalData'"></cur-personal-data-form>
      <div class="navigate-buttons-wrapper">
        <button
          class="next"
          mat-flat-button
          color="primary"
          type="button"
          matStepperNext
          (click)="next(['personalData'])">
          Далее
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="cvWizardData.controls.sectionSettings">
      <ng-template matStepLabel>Доп. Информация</ng-template>
      <cur-additional-info
        class="form-wrapper"
        [settingsControlKey]="'sectionSettings'"
        [educationControlKey]="'educationList'"
        [workExpControlKey]="'workExperienceList'"
        [skillsControlKey]="'skills'"
        [profileControlKey]="'profile'"
        [languagesControlKey]="'languages'"
        [linksControlKey]="'links'">
      </cur-additional-info>
      <div class="navigate-buttons-wrapper">
        <button mat-stroked-button color="primary" type="button" matStepperPrevious>
          На шаг назад
        </button>
        <button
          class="next"
          mat-flat-button
          color="primary"
          type="button"
          matStepperNext
          (click)="
            next([
              'sectionSettings',
              'workExperienceList',
              'educationList',
              'sectionSettings',
              'skills',
              'profile',
              'languages',
              'links'
            ])
          ">
          Далее
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
