<h1>Создание нового резюме</h1>
<form [formGroup]="cvWizardData">
  <mat-stepper linear="true">
    <mat-step [stepControl]="cvWizardData.controls.personalData">
      <ng-template matStepLabel>Персональные данные</ng-template>
      <cur-personal-data-form
        class="form-wrapper"
        [controlKey]="'personalData'"></cur-personal-data-form>
      <div class="navigate-buttons-wrapper">
        <button
          class="next"
          mat-flat-button
          color="primary"
          type="button"
          matStepperNext
          (click)="next('personalData')">
          Далее
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="cvWizardData.controls.workExperienceList">
      <ng-template matStepLabel>Опыт</ng-template>
      <cur-work-exp-list controlKey="workExperienceList"></cur-work-exp-list>
      <div class="navigate-buttons-wrapper">
        <button mat-stroked-button color="primary" type="button" matStepperPrevious>
          На шаг назад
        </button>
        <button
          class="next"
          mat-flat-button
          color="primary"
          type="button"
          matStepperNext
          (click)="next('workExperienceList')">
          Далее
        </button>
      </div>
    </mat-step>
    <mat-step>
      <h2>3 step</h2>
      <div class="navigate-buttons-wrapper">
        <button mat-stroked-button color="primary" type="button" matStepperPrevious>
          На шаг назад
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
