@use 'styles/mixins/mixins' as mixins;

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  box-sizing: border-box;
  padding: 16px;
  text-decoration: none;
  color: #000;

  transition: background-color 75ms ease-out;

  .text-container {
    @include mixins.textOverflow()
  }

  &:hover {
    background-color: #deebff;
  }

  &.active {
    background-color: #c1daff;
    font-weight: bold;
    color: rgb(36, 82, 231);
  }
}
