<button mat-button color="primary" (click)="handleAdd()">Добавить опыт работы</button>
<div class="mt-3">
  <cur-expander [multi]="true">
    @for (exp of list.controls; track $index) {
      <cur-expander-item (actionClick)="handleAction($event)">
        <ng-template curExpanderTitle>{{ exp.controls.company.value }}</ng-template>
        <ng-template curExpanderTitleDescription>
          <div class="ml-5 range">
            <mat-icon>date_range</mat-icon>
            <span class="ml-1">
              {{ exp.controls.startDate.value | dateFormat: 'MM/yyyy' }}
              <span>&mdash;</span>
              {{ exp.controls.endDate.value | dateFormat: 'MM/yyyy' }}
            </span>
          </div>
        </ng-template>
        <ng-template curExpanderContent>
          <h3>{{ exp.controls.jobPosition.value }}</h3>
        </ng-template>
      </cur-expander-item>
    }
  </cur-expander>
</div>
