:host {
  display: block;
}

.range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  font-weight: 500;
}
