.header-description {
  font-weight: 700;
  opacity: 1;
  flex: 1 0 auto;
}

.range {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
