@if (_pickedValue?.label) {
  <p class="label">{{ _pickedValue?.label }}</p>
}
<div [className]="'mt-1 pick-row pick-row-color-' + _index">
  @for (item of pickExpOptions; track $index) {
    <label
      [ngClass]="[
        'pick-element',
        'pick-element-color-' + _index,
        _index !== null && (_index === $index || _index + 1 === $index) ? 'remove-pseudo' : ''
      ]"
      [style.width.%]="selectedWidth">
      <input
        type="checkbox"
        [checked]="item.value === _pickedValue?.value"
        (change)="handleChange($index)" />
    </label>
  }
  <div
    [className]="'selected-element selected-element-color-' + _index"
    [style.width.%]="isNotSelected ? 0 : selectedWidth"
    [style.transform]="offset"></div>
</div>
